<head>
	<meta charset="UTF-8">
	<title>Node的个人博客</title>
	<meta name="keywords" content="Node,node.js" />  
	<meta name="description" content="node的个人博客" />
	<link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet"  href="/css/main.css">
</head>